---
layout: default
title: Home
---

{% if page.url == "/" %}

  {% assign featured = false %}
  {% for post in site.posts %}
  {% if post.featured == true or post.print == true %}
  {% assign featured = true %}
  {% endif %}
  {% endfor %}

  <div class="d-flex">
    {% comment %}
  <!-- Featured
  ================================================== -->
  
  <section class="featured-posts">
    <div class="section-title">
      <h2><span>Recent Makes</span></h2>
    </div>
    <div class="row">
      
      {% for post in site.posts %}
      
      {% if post.featured == true or post.print == true %}
      
      {% include featuredbox.html %}
      
      {% endif %}
      
      {% endfor %}
      
    </div>
  </section>
  {% endcomment %}
  
  {% endif %}

<!-- Posts Index
================================================== -->
  <section class="recent-posts col-md-9 col-8">

    <div class="section-title">

      <h2><span>All Posts</span></h2>

    </div>

    <div class="row listrecent">

      {% for post in site.posts %}

      {% if post.print != true %}

      {% include postbox.html %}

      {% endif %}

      {% endfor %}

    </div>

  </section>

  <section class="featured-posts col-md-3 col-4 ml-2">
    <div class="section-title row">
      <h2><span>Recent Makes</span></h2>
    </div>
    <div class="row pl-0">
      <ul class="pl-0 pr-2">
        {% for post in site.categories["3dprinting"]%}
        {% if post.print == true and post.image %}
        <li class="mb-3 card listfeaturedtag print-item">
          <a href="{{ post.url | relative_url }}" title="{{ post.title }}" target="_blank" class="text-dark">
            <img src="{{ post.image }}"  alt="{{ post.title }}" title="{{ post.title }}" class="img-fluid"/>
            <h2 class="card-title px-2">{{ post.title }}</h2>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>

</div>
<!-- Pagination
================================================== -->
<!-- <div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div> -->
