---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

body.layout-default {
  background-color: #f0f0f6;
}

.page__share { 
  margin-left: 0; 
  margin-right: 0; 
  width: 100%; 
  clear: both; 
}

.btn { 
  text-align: left !important;
  display: inline-block; 
  margin-bottom: 0.25em; 
  padding: 0.5em 1em; 
  // font-size: 0.75em; 
  font-weight: bold; 
  text-align: center; 
  text-decoration: none; 
  border-width: 0; 
  border-radius: 4px; 
  cursor: pointer;
  color:#fff !important;
}
.btn .icon { margin-right: 0.5em; }
.btn .icon + .hidden { margin-left: -0.5em; /* override for hidden text*/ }
.btn--facebook { background-color: #3b5998; color: #fff; }
.btn--facebook:visited { background-color: #3b5998; color: #fff; }
.btn--facebook:hover { background-color: #2f477a; color: #fff; }
.btn--twitter { background-color: #55acee; color: #fff; }
.btn--twitter:visited { background-color: #55acee; color: #fff; }
.btn--twitter:hover { background-color: #448abe; color: #fff; }
.btn--linkedin { background-color: #007bb6; color: #fff; }
.btn--linkedin:visited { background-color: #007bb6; color: #fff; }
.btn--linkedin:hover { background-color: #006292; color: #fff; }

table {
  margin-bottom: 20px; 
  margin-bottom: 1.25rem; 
  border-left: 1px solid #ebebeb; 
  border-top: 1px solid #ebebeb;
  td,th { padding: 5px 10px; border-right: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }
  th { font-weight: 600; }
  tr:nth-child(odd) {background-color: #f2f2f2;}
}

table.print-settings {
  font-family: Orbitron;
  td:not(:first-child) { font-family:Merriweather }
}


/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}


// Import partials from `sass_dir` (defaults to `_sass`)
// @import	"syntax", "starsnonscss";
td.rouge-code { width: 100%;}
pre.lineno { color: #9999;}
// @import "./native.css";
// @import "syntax";
@import "syntax-minmis";
// @import "./gh.css";

a[href*="amzn.to"], .amazon { 
  font-family: 'Font Awesome 5 Brands';
  &:after{content: "\f270";
    color: black;
    margin-left:0.25rem;
  }
}

a[href*="thingiverse"] { 
  &:after{
    display: inline-block;
    content: ' ';
    background-image: url('/assets/images/thingiverse.svg');
    background-size: 1.1em 1.1em;
    background-repeat: no-repeat;
    height: 1.2em;
    width: 1.1em;
    margin: 0em 0.25em;
    vertical-align: middle;
  }
}

a[href*="printables"] { 
  &:after{
    display: inline-block;
    content: ' ';
    background-image: url('/assets/images/printables.svg');
    background-size: 4em;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    margin: 0em 0.25em;
    vertical-align: middle;
  }
}