// $on-palm: 600px !default;
// $on-laptop: 800px !default;

// // Use media queries like this:
// // @include media-query($on-palm) {
// //   .wrapper {
// //     padding-right: $spacing-unit / 2;
// //     padding-left: $spacing-unit / 2;
// //   }
// // }
// @mixin media-query($device) {
//   @media screen and (max-width: $device) {
//     @content;
//   }
// }
// $base-font-size: 16px !default;
// @mixin relative-font-size($ratio) {
//   font-size: $base-font-size * $ratio;
// }
%clearfix:after {
  content: none;
  display: none;
  clear: both;
}

.page_ww {
  background-image: url("/woodworking/images/wood-3212803_1920.jpg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .site-header {
    .wrapper {
      background-color: white;
    }
  }
}

.page_default {
  background-color: #f2f2f2;

  .site-header {
    background-color: #101085;

    .site-title,
    .site-nav .page-link {
      color: white;
    }

    .site-nav .page-link {
      @include media-query(600px) {
        color: #111;
      }
    }
  }
}

.page-content {
  padding-bottom: 0;
  .wrapper {
    @media screen and (min-width: 830px) {
      max-width: 800px;
      padding: 0;
    }
  }
}

.site-header {
  border: none;
  min-height: auto;

  .wrapper {
    border-bottom: 5px solid #424242;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
  }
}

.post-summary {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding-left: 2em;
  padding-top: 2em;
  margin-bottom: 2em;

  article {
    width: 33.3%;
    box-sizing: border-box;
    padding-right: 2em;
  }
  .thumb {
    max-width: 100%;
    object-fit: cover;
  }
  @include media-query(600px) {
    article {
      width: 50%;
    }
  }
  @include media-query(400px) {
    article {
      width: 100%;
    }
  }
}

.post-content {
  background-color: white;
  padding: 2em;
}

.post img {
  max-width: 300px;
}

.site-title {
  float: unset;
}

.site-nav {
  float: unset;

  @include media-query($on-palm) {
    label[for="nav-trigger"] {
      float: unset;
      margin-left: auto;
    }
  }
}

.post-link {
  @include relative-font-size(1.4);
  font-weight: bold;
}

.post-title {
  @include relative-font-size(2);

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}
