<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <!-- {{page.categories}} -->
  {% if page.categories contains "woodworking" %}
    {% assign defaultbodyClass = "page_ww" %}
  {% else %}
  {% if page.categories contains "code" %}
    {% assign defaultbodyClass = "page_code" %}
  {% else %}
    {% assign defaultbodyClass = "page_default" %}
  {% endif %}
  {% endif %}
  {% assign bodyClass = page.body_class | default: defaultbodyClass %}

  <body class={{ bodyClass }}>
    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
